<link rel="stylesheet" href="/stylesheets/style.css">

<div class="container">
    <div class="article_btn-flex">
        <a href="/articles"><button>Show Articles</button></a>
        <a href="/articles/<%= article.id %>/edit"><button>Edit</button></a>
        <a href="/articles/<%= article.id %>/delete"><button>Delete</button></a>
    </div>
    
    <div class="article-details">
        <h3><%= article.title %></h3>
        <p><%= article.description %></p>
    </div>
    
    <% article.comments.forEach(c => { %>
        <div class="article-details">
            <form action="/articles/<%= article.id %>" method="POST">
                <input type="text" name="content" placeholder="Add comment.." class="comment-input">
                <input type="text" name="author" placeholder="Add author..." class="comment-input">
                <button type="submit">Comment</button>
            </form>
            <h2>Comments:</h2>
            <p>Content: <%= c.content %></p>
            <p>Author: <%= c.author %></p>
            <a href="/comments/<%= c.id %>/edit">Edit</a>
            <a href="/comments/<%= c.id %>/delete">Delete</a>
        </div>
    <% }) %>
    
</div>